.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 50vw}
.u-section-1 .u-group-1 {width: 594px; min-height: 524px; height: auto; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 64px auto 60px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-image-1 {height: 280px; margin: 0 auto 0 0}
.u-section-1 .u-text-1 {margin: 16px auto 0}
.u-section-1 .u-text-2 {margin: 12px 0 0}
.u-section-1 .u-btn-1 {border-style: none; background-image: none; margin: 25px auto 0}


@media (max-width: 1199px){ .u-section-1 .u-image-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-1 .u-group-1 {width: 540px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {height: 255px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-1 .u-group-1 {width: 340px}
.u-section-1 .u-image-1 {height: 161px; margin-right: initial; margin-left: initial} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 50vw}
.u-section-2 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-2 .u-layout-cell-1 {min-height: 546px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-form-1 {margin: 30px auto 0 0}
.u-section-2 .u-input-1 {background-image: none}
.u-section-2 .u-input-2 {background-image: none}
.u-section-2 .u-input-3 {background-image: none}
.u-section-2 .u-btn-1 {background-image: none; border-style: none}
.u-section-2 .u-layout-cell-2 {min-height: 546px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-group-1 {min-height: 524px; height: auto; box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4); margin: 0 auto 0 0}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-image-1 {height: 280px; margin: 0 auto 0 0}
.u-section-2 .u-text-2 {margin: 16px auto 0}
.u-section-2 .u-text-3 {margin: 12px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {position: relative}
.u-section-2 .u-layout-cell-1 {min-height: 450px}
.u-section-2 .u-layout-cell-2 {min-height: 450px}
.u-section-2 .u-group-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {height: 225px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-layout-cell-2 {min-height: 253px}
.u-section-2 .u-image-1 {height: 165px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 380px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-image-1 {height: 286px; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-2 .u-form-group-1 {width: 100%}
.u-section-2 .u-form-group-2 {width: 100%}
.u-section-2 .u-form-group-3 {width: 100%}
.u-section-2 .u-form-group-4 {width: 100%}
.u-section-2 .u-layout-cell-2 {min-height: 239px}
.u-section-2 .u-image-1 {height: 176px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 500px}
.u-section-3 .u-group-1 {width: 907px; min-height: 86px; height: auto; margin: 72px auto 60px}
.u-section-3 .u-container-layout-1 {padding: 30px 30px 19px}
.u-section-3 .u-text-1 {margin: -6px auto 0}
.u-section-3 .u-text-2 {margin-left: auto; margin-right: auto} 

@media (max-width: 991px){ .u-section-3 .u-group-1 {width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-group-1 {width: 540px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-group-1 {width: 340px} }