{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% include "ref/header_ref.html" %}
</head>
<body style="background-color:#333333;">

{# Card #}

<section class="u-clearfix u-grey-80 u-section-1" id="sec-f62f">
    {% for post in posts %}
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-align-center u-container-style u-grey-75 u-group u-group-1">
                <div class="u-container-layout u-valign-bottom u-container-layout-1">
                    <img src="{{ post.image.url }}" alt=""
                         class="u-border-radius-25 u-expanded-width u-image u-image-round u-image-1"
                         data-image-width="1600"
                         data-image-height="900">
                    <h3 class="u-text u-text-default u-text-1">{{ post.title }}</h3>
                    <p class="u-text u-text-default u-text-2">{{ post.des|truncatewords:20 }}</p>
                    <a href="{% url "email:detail" post.slug %}"
                       class="u-border-radius-17 u-btn u-btn-round u-button-style u-palette-3-light-1 u-btn-1">Share
                        with
                        email</a>
                </div>
            </div>
        </div>
    {% endfor %}
</section>

{% block content %}

{% endblock %}
</body>
</html>